<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Cursos</title>
</head>

<body>
<section layout:fragment="content">

    <h1>Cursos</h1>

    <a class="btn btn-success mb-3"
       th:href="@{/cursos/nuevo}">
        Nuevo curso
    </a>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estudiantes</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="curso : ${cursos}">
            <td th:text="${curso.id}"></td>
            <td th:text="${curso.nombre}"></td>
            <td>
                <span th:if="${#lists.isEmpty(curso.estudiantes)}">
                    Sin estudiantes inscritos
                </span>

                <ul th:if="${not #lists.isEmpty(curso.estudiantes)}" class="mb-0">
                    <li th:each="e : ${curso.estudiantes}">
                        <span th:text="${e.nombre}"></span>
                        -
                        <span th:text="${e.email}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/cursos/editar/{id}(id=${curso.id})}">
                    Editar
                </a>

                <a class="btn btn-sm btn-info"
                   th:href="@{/cursos/{id}/inscribir(id=${curso.id})}">
                    Inscribir
                </a>

                <form th:action="@{/cursos/eliminar/{id}(id=${curso.id})}"
                      method="post"
                      style="display:inline">
                    <button class="btn btn-sm btn-danger" type="submit">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>