<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Estudiante</title>
</head>

<body>
<section layout:fragment="content">

    <h1>Estudiante</h1>

    <form th:action="@{/estudiantes/guardar}"
          th:object="${estudiante}"
          method="post">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" th:field="*{nombre}" />
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" th:field="*{email}" />
        </div>

        <button class="btn btn-primary" type="submit">
            Guardar
        </button>

        <a class="btn btn-secondary" th:href="@{/estudiantes}">
            Volver
        </a>
    </form>

</section>
</body>
</html>