<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Estudiantes</title>
</head>

<body>
<section layout:fragment="content">

    <h1>Estudiantes</h1>

    <a class="btn btn-success mb-3"
       th:href="@{/estudiantes/nuevo}">
        Nuevo estudiante
    </a>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="e : ${estudiantes}">
            <td th:text="${e.id}"></td>
            <td th:text="${e.nombre}"></td>
            <td th:text="${e.email}"></td>
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/estudiantes/editar/{id}(id=${e.id})}">
                    Editar
                </a>

                <form th:action="@{/estudiantes/eliminar/{id}(id=${e.id})}"
                      method="post"
                      style="display:inline">
                    <button class="btn btn-sm btn-danger" type="submit">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>