<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Estudiante</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="container mt-4">

<h1>Estudiante</h1>

<p class="alert alert-info">
    Usuario conectado:
    <strong th:text="${usuario}"></strong>
</p>

<form th:action="@{/estudiantes/guardar}"
      th:object="${estudiante}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <div class="mb-3">

        <label class="form-label">
            Nombre
        </label>

        <input class="form-control"
               th:field="*{nombre}" />

    </div>

    <div class="mb-3">

        <label class="form-label">
            Email
        </label>

        <input class="form-control"
               th:field="*{email}" />

    </div>

    <button class="btn btn-primary">
        Guardar
    </button>

</form>

<br>

<a class="btn btn-secondary"
   th:href="@{/estudiantes}">
    Volver
</a>

</body>
</html>