<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Inicio</title>
</head>

<body>
<section layout:fragment="content">

    <h1 th:text="${mensaje}"></h1>

    <div class="mb-3">
        <a class="btn btn-primary" th:href="@{/cursos}">
            Cursos
        </a>

        <a class="btn btn-primary" th:href="@{/estudiantes}">
            Estudiantes
        </a>
    </div>

</section>
</body>
</html>